In [ ]:
#tuples are imutable while list are mutable

In [1]:
int myTupple = (1,2,3)
myTupple

SyntaxError: invalid syntax (<ipython-input-1-9a6cee5c86f2>, line 1)

In [2]:
myTupple = (1,2,3)

In [3]:
myTupple

(1, 2, 3)

In [5]:
#packing
cities = ("khi","lhr","multan")

In [6]:
#unpack
largest,bigger,small = cities

In [7]:
largest

'khi'

In [8]:
largest = "Quetta"

In [9]:
largest

'Quetta'

In [10]:
cities

('khi', 'lhr', 'multan')

In [11]:
cities = largest,bigger,small

In [12]:
cities

('Quetta', 'lhr', 'multan')

In [31]:
#for loops
#to print your name ten times
#range(start,end,step)
for x in range(0,10,2):
    print(x,"Bilal")

0 Bilal
2 Bilal
4 Bilal
6 Bilal
8 Bilal

In [33]:
for a in range(10,0,-1):
    print(a,"Bilal")

10 Bilal
9 Bilal
8 Bilal
7 Bilal
6 Bilal
5 Bilal
4 Bilal
3 Bilal
2 Bilal
1 Bilal

In [1]:
for name in ["khi","lhr","isb","psh"]:
    print(name)

khi
lhr
isb
psh

In [2]:
for char in "string":
    print(char)

s
t
r
i
n
g

In [5]:
#pass, break and continue
for a in range(1,10):
    if a%3==0:
        break
    print(a)

1
2

In [9]:
friends = ['a','b','c','d','e','f']
for friend in friends:
    if(friend!='e'):
        print("continue")
    else:
        print("break")
        break

continue
continue
continue
continue
break

In [11]:
for a in range(10):
    pass

In [29]:
tableNo = int(input("enter table number : "))
tableRange = int(input("enter table range : "))

for i in range(1,tableRange+1):
    print(f"{tableNo} X {i} = {tableNo*i}")
    #print(a," x ",i," = ",a*i)

enter table number : 13
enter table range : 23
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156
13 X 13 = 169
13 X 14 = 182
13 X 15 = 195
13 X 16 = 208
13 X 17 = 221
13 X 18 = 234
13 X 19 = 247
13 X 20 = 260
13 X 21 = 273
13 X 22 = 286
13 X 23 = 299

In [30]:
tables = range(2,10,2)
for table in tables:
    for i in range(1,11):
        print(f"{table} X {i} = {table*i}")
    print("=========================");

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
=========================
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
=========================
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
=========================
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
=========================

# Dictionary

In [80]:
#list[] value could be change and accessed using index
#tupple() value are fixed and can't be change. can be accessed using index like list
#dictionary{} value are saved as key-value paried

#myDic={}
#type(myDic)
#len(myDic)

myDic={
    "name":"PIAIC",
    "age":7,
    "degree":"BS",
    "cell":"1234677878"
}
print(myDic["age"])

7

In [50]:
# methods in dictionay are keys(),values(),items()
for k,v in myDic.items():
    print(f"Key is {k}, and Value is {v}")

Key is name, and Value is PIAIC
Key is age, and Value is 7
Key is degree, and Value is BS
Key is cell, and Value is 1234677878

In [54]:
for k in myDic.keys():
    print(f"Key is {k}, and Value is {myDic[k]}")

Key is name, and Value is PIAIC
Key is age, and Value is 7
Key is degree, and Value is BS
Key is cell, and Value is 1234677878

In [52]:
for v in myDic.values():
    print(f"Value is {v}")

Value is PIAIC
Value is 7
Value is BS
Value is 1234677878

In [55]:
for k,v in myDic.items():
    print(f"Key is {k}, and Value is {v}")

Key is name, and Value is PIAIC
Key is age, and Value is 7
Key is degree, and Value is BS
Key is cell, and Value is 1234677878

# List in List

In [72]:
# In list del function will use to delete the value by index and remove function will use to delete by value
a = [11,22,33,44]
b = [55,66,77,88,a]
c = ["apple","orange",a,b]
c
a[3]
c[3]
c[3][2]
c[3][1:]
#del c[3][1]
#c
c[2].remove(44)
c

['apple', 'orange', [11, 22, 33], [55, 66, 77, 88, [11, 22, 33]]]

In [73]:
#list in list
#dictionary in list
#tuple in list
#=====================
#list in dic
#dic in dic
#tuple in dic
#================
#tuple in tuple
#list in tuple
#dic in tuple

# Dictionary in List

In [87]:

myDic={
    "name":"PIAIC",
    "age":7,
    "degree":"BS",
    "cell":"1234677878"
}

aa = [11,22,33,myDic]
aa
print(aa[3]["name"])
#del aa[3]["name"]
aa

PIAIC

[11, 22, 33, {'name': 'PIAIC', 'age': 7, 'degree': 'BS', 'cell': '1234677878'}]

In [76]:
print(aa[3]["name"])

PIAIC

# List in Dictionary

In [95]:
dd = {'names':['a','b','c','d','e','f','g','h']}
dd['names']
dd['names'][4]
#del dd['names'][4]
dd['names'].remove('g')
dd

{'names': ['a', 'b', 'c', 'd', 'e', 'f', 'h']}

# Dic in Dic

In [111]:
#pop is use to remove the values for dic,list
qq = {"names":myDic,"names1":{"age":8}}
qq["names"]["age"]
qq
qq.pop("names1")
print(qq)
qq["hello"]="python"
print(qq)
qq.pop('hello')
print(qq)

{'names': {'name': 'PIAIC', 'age': 7, 'degree': 'BS', 'cell': '1234677878'}}
{'names': {'name': 'PIAIC', 'age': 7, 'degree': 'BS', 'cell': '1234677878'}, 'hello': 'python'}
{'names': {'name': 'PIAIC', 'age': 7, 'degree': 'BS', 'cell': '1234677878'}}

In [ ]:
#check dic pop method